## VIKUNJA SERVICE VARIABLES
VIKUNJA_SERVICE_JWTSECRET="secret-estsecretever"
VIKUNJA_SERVICE_FRONTENDURL="http://0.0.0.0"

## TRAEFIK VARIABLES
TRAEFIK_DOMAIN=xample.local.example.com

## DATABASE VARIABLES
MYSQL_ROOT_PASSWORD="superdupersecretpassword"
MYSQL_USER=vikunja
MYSQL_PASSWORD="supersecretpassword"
MYSQL_DATABASE=vikunja